body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #747c81;

}

.calculator {
    border: 2px solid #020608;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #272626;
}

#display {
    width: calc(94% - 20px);
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #ecf0f1;
}

.buttons {
    display: grid;
    border: 1px solid #000000;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;

}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

button.memory {
    background-color: #2196f3;
    color: #fff;
}

button:not([onclick^="appendToDisplay"]) {
    background-color: #34495e;

}